

.register-resource-owner-page {
  /*
  div[class^="p-col"] {
    background-color: lightblue;
    border: 1px solid darkblue;
  }
  */

  .form {
    .form-label {
      text-align:right;
    }
    .form-component {
      width: 100%;
    }
  }


}
